---
import { Image } from 'astro:assets';
import PageHeader from '@/components/PageHeader.astro';
import Layout from '@/layouts/Layout.astro';

import { StudioCMSRenderer } from 'studiocms:renderer';
import { SDKCoreJs, runSDK } from 'studiocms:sdk';
import { Icon } from 'studiocms:ui/components';

let { slug } = Astro.params;

const page = await runSDK(SDKCoreJs.GET.page.bySlug(`${slug}`));

if (!page) {
	return new Response(null, { status: 404 });
}

// biome-ignore lint/style/noNonNullAssertion: <explanation>
const author = await runSDK(SDKCoreJs.GET.users.byId(page.data.authorId!));
---
<Layout
	title={page.data.title}
	desc={page.data.description}
	ogImage={page.data.heroImage}
	author={author}
	published={page.data.publishedAt}
	updated={page.data.updatedAt}
>
	<PageHeader
		title={page.data.title}
	/>
	<article>
		<StudioCMSRenderer data={page.data} />
		<hr />
		<div class="article-info">
			{author?.avatar && (
				<Image src={author.avatar} alt={author.name} class="article-card-author-avatar" width={48} height={48} />
			)}
			<div class="info-text">
				<p>{author?.name}</p>
				<span class="article-card-date">Published {page.data.publishedAt.toLocaleDateString()}</span>
			</div>
		</div>
		<hr />
		<a class="back-to-blog-link" href="/blog">
			<Icon name="heroicons:arrow-left-16-solid" width={16} height={16} />
			Back to Blog
		</a>
	</article>
</Layout>
<style is:global>
	.article-info {
		display: flex;
		align-items: center;
	}

	.article-card-author-avatar {
		border-radius: 50% !important;
		margin-right: 1rem;
	}

	.info-text {
		display: flex;
		flex-direction: column;
		gap: .5rem;
		line-height: 1;

		* {
			margin: 0;
		}
	}

	.info-text p {
		font-weight: 600;
	}

	.article-card-date {
		font-size: .875rem;
		color: var(--text-muted);
	}

	.back-to-blog-link {
		display: flex;
		align-items: center;
		gap: .5rem;
		margin-top: 2rem;
		color: var(--text-muted);
		text-decoration: none;
		transition: all .15s ease;
		width: fit-content;
	}

	.back-to-blog-link:hover {
		color: var(--text-normal);
		text-decoration: underline;
	}
</style>
