---
import PageHeader from '@/components/PageHeader.astro';
import Layout from '@/layouts/Layout.astro';

import { StudioCMSRenderer } from 'studiocms:renderer';
import { SDKCoreJs, runSDK } from 'studiocms:sdk';
import { Icon } from 'studiocms:ui/components/icon';

let { slug } = Astro.params;

const page = await runSDK(SDKCoreJs.GET.page.bySlug(`${slug}`));

if (!page || page.draft === true) {
	return new Response(null, { status: 404 });
}

const author = await runSDK(SDKCoreJs.GET.users.byId(page.authorId));
---
<Layout
	title={page.title}
	desc={page.description}
	ogImage={page.heroImage!}
	author={author}
	published={page.publishedAt}
	updated={page.updatedAt}
>
	<PageHeader
		title={page.title}
	/>
	<article>
		<StudioCMSRenderer data={page} />
		<hr />
		<div class="article-info">
			{author?.avatar && (
				<img
					src={author.avatar}
					alt={author.name}
					class="article-card-author-avatar"
					width={48}
					height={48}
					onerror="this.src='https://cdn.studiocms.dev/default_avatar.png'"
				/>
			)}
			<div class="info-text">
				<p>{author?.name}</p>
				<span class="article-card-date">Published {page.publishedAt.toLocaleDateString()}</span>
			</div>
		</div>
		<hr />
		<a class="back-to-blog-link" href="/blog">
			<Icon name="heroicons:arrow-left-16-solid" width={16} height={16} />
			Back to Blog
		</a>
	</article>
</Layout>
<style is:global>
	.article-info {
		display: flex;
		align-items: center;
	}

	.article-card-author-avatar {
		border-radius: 50% !important;
		margin-right: 1rem;
	}

	.info-text {
		display: flex;
		flex-direction: column;
		gap: .5rem;
		line-height: 1;

		* {
			margin: 0;
		}
	}

	.info-text p {
		font-weight: 600;
	}

	.article-card-date {
		font-size: .875rem;
		color: var(--text-muted);
	}

	.back-to-blog-link {
		display: flex;
		align-items: center;
		gap: .5rem;
		margin-top: 2rem;
		color: var(--text-muted);
		text-decoration: none;
		transition: all .15s ease;
		width: fit-content;
	}

	.back-to-blog-link:hover {
		color: var(--text-normal);
		text-decoration: underline;
	}
</style>
