---
import { SDKCoreJs, runSDK } from 'studiocms:sdk';
import PageHeader from '@/components/PageHeader.astro';
import Layout from '@/layouts/Layout.astro';

const entries = await runSDK(
	SDKCoreJs.GET.folderPages('dde4b58c-ff71-4b02-a261-dba8fe694644' /* Blog */, false, true)
);

const articlePromises = entries.map(async (article) => {
	const { title, publishedAt, slug, authorId, heroImage } = article;

	// biome-ignore lint/style/noNonNullAssertion: <explanation>
	const author = await runSDK(SDKCoreJs.GET.users.byId(authorId))!;

	return {
		title,
		publishedAt,
		slug,
		heroImage,
		author: author
			? {
					name: author.name,
					avatar: author.avatar ? author.avatar : null,
				}
			: null,
	};
});

const articles = (await Promise.all(articlePromises))
	.filter((x) => typeof x !== 'undefined')
	.sort((a, b) => b.publishedAt.getTime() - a.publishedAt.getTime());
---

<Layout>
	<PageHeader title="Blog" />
	<div class="articles-grid">
		{
			articles.map((article) => (
				<a href={`/blog/${article.slug}`} class="article-card">
					<img
						src={article.heroImage}
						alt={article.title}
						class="article-card-image"
					/>
					<div class="article-card-content">
						<h3>{article.title}</h3>
						<div class="article-card-details">
							<div class="article-card-author">
								{article.author?.avatar && (
									<img
										src={article.author.avatar}
										alt={article.author.name}
										class="article-card-author-avatar"
										width="32"
										height="32"
										onerror="this.src='https://cdn.studiocms.dev/default_avatar.png'"
									/>
								)}
								<p>{article.author?.name}</p>
							</div>
							<span class="article-card-date">
								{article.publishedAt.toLocaleDateString()}
							</span>
						</div>
					</div>
				</a>
			))
		}
	</div>
</Layout>
<style>
	.articles-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		margin-bottom: 2rem;
	}

	.article-card {
		display: flex;
		flex-direction: column;
		background-color: var(--background-step-1);
		border: 1px solid var(--border);
		border-radius: 1rem;
		overflow: hidden;
		text-decoration: none;
		transition: all 0.15s ease;
		color: var(--text-normal);
	}

	.article-card:hover {
		border: 1px solid var(--primary-base);
	}

	.article-card-image {
		width: 100%;
		height: auto;
		border-bottom: 1px solid var(--border);
		aspect-ratio: 16 / 9;
		object-fit: cover;
	}

	.article-card-content {
		padding: 1rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		justify-content: space-between;
	}

	.article-card-details {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.article-card-author {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.article-card-author-avatar {
		width: 32px;
		height: 32px;
		border-radius: 50%;
	}

	.article-card-date {
		color: var(--text-muted);
		font-size: 0.875rem;
	}

	@media screen and (max-width: 960px) {
		.articles-grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media screen and (max-width: 640px) {
		.articles-grid {
			grid-template-columns: 1fr;
		}
	}
</style>
