---
import { Icon } from 'astro-icon/components';
import { DISCORD_URL, DOCS_URL, GITHUB_URL, SPONSOR_URL } from '../constants';
import ThemeSelect from './ThemeSelect.astro';
---

<nav
  class='flex justify-between items-center bg-slate-100 dark:bg-[--purple-900] px-8 py-8 w-full text-gray-900 dark:text-slate-100'
>
  <div class="flex flex-center justify-between mx-auto studiocms-container">
    <a href="/" class='flex justify-center items-center gap-x-4 w-fit' aria-label="StudioCMS">
      <Icon name='logo' class='stroke-slate-100 w-8 h-8 text-[--purple-900] dark:text-white' />
      <span class="hidden md:block font-bold text-2xl" aria-hidden>StudioCMS</span>
    </a>
    <div>
      <ul class='flex items-center gap-x-4'>
        <li class="text-link">
          <a 
            href="/blog"
            class='font-medium text-lg hover:underline' 
            aria-label='Blog link'
            title="Blog"
          >
            Blog
          </a>
        </li>
        <li class="text-link">
          <a 
            href={DOCS_URL} 
            class='font-medium text-lg hover:underline' 
            rel='external nofollow' 
            aria-label='Docs link'
            title="Docs"
          >
            Docs
          </a>
        </li>
        <li class="text-link">
          <a 
            href='/roadmap' 
            class='mr-8 font-medium text-lg hover:underline' 
            rel='external nofollow' 
            aria-label='Roadmap link'
            title="Roadmap"
          >
            Roadmap
          </a>
        </li>
        <li>
          <a
            href={DISCORD_URL}
            class="navbar-icon"
            rel='external nofollow'
            aria-label='Discord link'
            title="Discord"
          >
            <Icon
              name='discord'
              class='w-8 h-8 hover:scale-110 transition duration-200 ease-in-out'
            />
          </a>
        </li>
        <li>
          <a
            class="navbar-icon"
            href={GITHUB_URL}
            rel='external nofollow'
            aria-label='GitHub link'
            title="GitHub"
            >
            <Icon
              name='github'
              class='w-8 h-8 hover:scale-110 transition duration-200 ease-in-out'
            />
          </a>
        </li>
        <li>
          <a
            class="navbar-icon"
            href={SPONSOR_URL}
            rel='external nofollow'
            aria-label='Open Collective link'
            title="Open Collective"
            >
            <Icon
              name='opencollective'
              class='w-6 h-6 hover:scale-110 transition duration-200 ease-in-out'
            />
          </a>
        </li>
        <li>
          <ThemeSelect />
        </li>
        <li class="relative">
          <div id="mobile-dropdown-icon-container">
            <Icon
              name='heroicons:bars-3'
              class='w-8 h-8 transition duration-200 ease-in-out cursor-pointer'
            />
          </div>
          <div id="mobile-dropdown-container">
            <a 
              href="/blog"
              class='font-medium text-lg hover:underline' 
              aria-label='Blog link'
              title="Blog"
            >
              Blog
            </a>
            <a 
              href={DOCS_URL} 
              class='font-medium text-lg hover:underline' 
              rel='external nofollow' 
              aria-label='Docs link'
              title="Docs"
            >
              Docs
            </a>
            <a 
              href='/roadmap' 
              class='mr-8 font-medium text-lg hover:underline' 
              rel='external nofollow' 
              aria-label='Roadmap link'
              title="Roadmap"
            >
              Roadmap
            </a>
            <div class="dropdown-icons">
              <a
                href={DISCORD_URL}
                class="dropdown-icon"
                rel='external nofollow'
                aria-label='Discord link'
                title="Discord"
              >
                <Icon
                  name='discord'
                  class='w-8 h-8 hover:scale-110 transition duration-200 ease-in-out'
                />
              </a>
              <a
                class="dropdown-icon"
                href={GITHUB_URL}
                rel='external nofollow'
                aria-label='GitHub link'
                title="GitHub"
                >
                <Icon
                  name='github'
                  class='w-8 h-8 hover:scale-110 transition duration-200 ease-in-out'
                />
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  const toggle = document.getElementById('mobile-dropdown-icon-container') as HTMLDivElement;
  const dropdown = document.getElementById('mobile-dropdown-container') as HTMLDivElement;

  toggle.addEventListener('click', (e) => {
    e.stopPropagation();
    dropdown.classList.toggle('active');
  });

  document.body.addEventListener('click', (event) => {
    if (!event.target) return;

    if (!dropdown.contains(event.target as Node) && event.target !== toggle) {
      dropdown.classList.remove('active');
    }
  });
</script>